@import "_variables";


// bnt orange
@mixin btn {
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-weight: $weightBold;
}


header {
    .nav-mobile {
        display: none;
    }
    .nav-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $lightGrayHr;
        // padding-bottom: 30px;

        :first-child {
            display: flex;
            height: 9%;
            gap: 50px;
            align-items: center;

            ul {
                display: flex;
                list-style-type: none;
                gap: 30px;
                color: $darkGrayishBlue;
                //  j'ai mis aussi un border blanch pour gargder les memes messure avec le hover
                li {
                    border-bottom: 2px solid white;
                    padding-bottom: 35px;
                    padding-top: 35px;

                    &:hover {
                        cursor: pointer;
                        cursor: hand;
                        border-bottom: 2px solid $range;
                        padding-bottom: 35px;

                    }

                }
            }
        }
    }

    :last-child {
        display: flex;
        height: 100%;
        gap: 50px;
        align-items: center;

        #icon-cart {
            cursor: pointer;
            cursor: hand;
        }

        #avatar {
            height: 50px;
            cursor: pointer;
            cursor: hand;

            &:hover {
                border: 2px solid $range;
                border-radius: 50%;
            }
        }
    }
}


// main
main {
    margin: 80px 50px;
    display: flex;
    gap: 130px;

    article {
        flex-basis: 40%;

        :first-child {
            .produitBig {
                width: 100%;
                margin-bottom: 20px;
                position: relative;
            }

            #btnPrevious,
            #bntNext {
                padding: 11px;
                background-color: $white;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                position: absolute;
            }

            #btnPrevious {
                z-index: 2;
                top: 400px;
                right: 1300px;
            }

            #bntNext {
                top: 400px;
                right: 920px;
            }
        }


        :last-child {
            display: flex;
            gap: 20px;

            .produitLittle {
                width: 25%;

                &:hover {
                    cursor: pointer;
                    cursor: hand;
                }
            }
        }

        img {
            border-radius: 5%;
        }
    }

    aside {
        flex-basis: 50%;

        h2 {
            color: $range;
            text-transform: uppercase;
            font-size: $fontSizeSTitles;
            margin-top: 50px;
        }

        h1 {
            margin-top: 20px;
        }

        p {
            margin-top: 30px;
        }

        #containerPrix {

            div {
                display: flex;
                margin-top: 25px;
                gap: 15px;

                #prix {
                    font-size: 25px;
                    font-weight: $weightBold;
                }

                #promo {
                    height: 20px;
                    background-color: $paleOrange;
                    align-self: initial;
                    padding: 3px 7px 0 7px;
                    color: $range;
                    font-size: $fontSizeSTitles;
                    font-weight: $weightBold;
                    border-radius: 5px;
                    margin-top: 4px;
                }
            }

            #prixOrig {
                text-decoration: line-through;
                color: $darkGrayishBlue;
                padding-top: 10px;
                display: inline-block;
                font-size: $fontSizeSTitles;
                font-weight: $weightBold;
                color: $grayishBlue;
            }
        }

        #containerQPrix {
            display: flex;
            margin-top: 30px;
            gap: 15px;

            #containerQ {
                background-color: $lightGrayishBlue;
                width: 20%;
                gap: 10px;
                @include btn();

                #plus,
                #minus {
                    width: 10%;
                    height: 10%;
                    border-radius: 5px;
                    padding: 10px;

                    &:hover {
                        cursor: pointer;
                        cursor: hand;
                    }
                }

                #plus {
                    height: 30%;
                }


            }

            #containerCart {
                @include btn();
                padding: 10px 60px;
                background-color: $range;
                color: $white;
                box-shadow: 1px 12px 29px -10px $range;

                #addCart {
                    display: inline-block;
                    border-radius: 5px;

                }
            }
        }
    }
}