* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0px 180px;
}

p {
  font-size: 16px;
}

#compterPanier {
  background-color: #ff7d1a;
  width: 17px;
  height: 12px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 13px;
  right: 100px;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.toggle {
  display: none;
}

.active {
  display: block;
}

header .nav-mobile {
  display: none;
}

header .nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e8e8ea;
  position: relative;
}

header .nav-desktop div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9%;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-desktop div:first-child ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 30px;
  color: #68707d;
}

header .nav-desktop div:first-child ul li {
  border-bottom: 2px solid white;
  padding-bottom: 35px;
  padding-top: 35px;
}

header .nav-desktop div:first-child ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid #ff7d1a;
  padding-bottom: 35px;
}

header .nav-desktop div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .nav-desktop div:last-child #icon-cart {
  cursor: pointer;
  cursor: hand;
}

header .nav-desktop div:last-child #avatar {
  height: 50px;
  border: 2px solid white;
  cursor: pointer;
  cursor: hand;
}

header .nav-desktop div:last-child #avatar:hover {
  border: 2px solid #ff7d1a;
  border-radius: 50%;
}

header .basket {
  background-color: white;
  -webkit-box-shadow: 1px 12px 29px -10px #68707d;
          box-shadow: 1px 12px 29px -10px #68707d;
  width: 24%;
  position: absolute;
  top: 80px;
  right: 127px;
  padding-bottom: 20px;
  border-radius: 5%;
  z-index: 2;
}

header .basket h2 {
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}

header .basket hr {
  border: 0.0095px solid #e8e8ea;
  width: 100%;
}

header .basket #containerAchatBasket {
  padding: 20px;
}

header .basket #containerAchatBasket #checkoutBtn {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 60px;
  background-color: #ff7d1a;
  color: white;
  border: none;
  width: 100%;
  height: 60px;
}

header .basket #containerAchatBasket #checkoutBtn:hover {
  cursor: pointer;
  cursor: hand;
}

header .basket #containerAchatBasket #imgProductBascket {
  display: inline-block;
  width: 20%;
  border-radius: 5%;
}

header .basket #containerAchatBasket #containerDetailleBasket {
  margin: 8px 0;
}

header .basket #containerAchatBasket #containerDetailleBasket .simbol {
  color: #68707d;
}

header .basket #containerAchatBasket #containerDetailleBasket #nomProduit,
header .basket #containerAchatBasket #containerDetailleBasket #prixProduitBasket,
header .basket #containerAchatBasket #containerDetailleBasket #qProduitBasket {
  text-transform: capitalize;
  color: #68707d;
  display: inline-block;
  margin-bottom: 10px;
}

header .basket #containerAchatBasket #containerDetailleBasket #pour {
  color: #68707d;
}

header .basket #containerAchatBasket #containerDetailleBasket .total {
  font-weight: 700;
}

header .basket #containerAchatBasket #containerDetailleBasket .money {
  font-weight: 700;
}

header .basket #AchatBasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}

header .basket #delete-btn {
  border: none !important;
  background-color: transparent;
  position: relative;
}

header .basket #delete-btn #icon-delete {
  display: inline-block;
  width: 16px;
  height: 20px;
  margin: auto 0;
  position: absolute;
  top: 35px;
}

header .basket:hover {
  cursor: pointer;
  cursor: hand;
}

header #cartEmptyText {
  color: #68707d;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

main .containerMain {
  margin: 80px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 130px;
}

main .containerMain article {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

main .containerMain article div:first-child .produitBig {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

main .containerMain article div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

main .containerMain article div:last-child .produitLittle {
  width: 25%;
  border: 2px solid white;
}

main .containerMain article div:last-child .produitLittle:hover {
  cursor: pointer;
  cursor: hand;
  border: 2px solid #ff7d1a;
  opacity: 50%;
}

main .containerMain article img {
  border-radius: 5%;
}

main .containerMain aside {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main .containerMain aside h2 {
  color: #ff7d1a;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 50px;
}

main .containerMain aside h1 {
  margin-top: 20px;
  font-size: 43px;
}

main .containerMain aside p {
  margin-top: 30px;
  color: #68707d;
}

main .containerMain aside #containerPrix div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  gap: 15px;
}

main .containerMain aside #containerPrix div #prix {
  font-size: 25px;
  font-weight: 700;
}

main .containerMain aside #containerPrix div #dolar {
  font-size: 25px;
  font-weight: 700;
}

main .containerMain aside #containerPrix div #promo {
  height: 20px;
  background-color: #ffede0;
  -ms-flex-item-align: initial;
      -ms-grid-row-align: initial;
      align-self: initial;
  padding: 3px 7px 0 7px;
  color: #ff7d1a;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 4px;
}

main .containerMain aside #containerPrix #prixOrig {
  text-decoration: line-through;
  color: #68707d;
  padding-top: 10px;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  color: #b6bcc8;
}

main .containerMain aside #containerQPrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  gap: 15px;
}

main .containerMain aside #containerQPrix #containerQ {
  background-color: #f7f8fd;
  width: 25%;
  height: 60px;
  gap: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
}

main .containerMain aside #containerQPrix #containerQ #plus,
main .containerMain aside #containerQPrix #containerQ #minus {
  height: 30%;
  border-radius: 5px;
  padding: 10px;
}

main .containerMain aside #containerQPrix #containerQ #plus:hover,
main .containerMain aside #containerQPrix #containerQ #minus:hover {
  cursor: pointer;
  cursor: hand;
}

main .containerMain aside #containerQPrix #containerQ #minus {
  height: 10%;
}

main .containerMain aside #containerQPrix #addToCartBtn {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 60px;
  background-color: #ff7d1a;
  color: white;
  -webkit-box-shadow: 1px 12px 29px -10px #ff7d1a;
          box-shadow: 1px 12px 29px -10px #ff7d1a;
}

main .containerMain aside #containerQPrix #addToCartBtn:hover {
  cursor: pointer;
  cursor: hand;
}

main .containerMain aside #containerQPrix #addToCartBtn #addCart {
  display: inline-block;
  border-radius: 5px;
}

main .detaille {
  display: none;
  margin: 0 !important;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 118vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

main .detaille .containerDetalle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  padding-top: 150px;
}

main .detaille .containerDetalle div:first-child {
  position: relative;
}

main .detaille .containerDetalle div:first-child .close {
  text-align: right;
  fill: white;
  position: absolute;
  top: -38px;
  right: 639px;
}

main .detaille .containerDetalle div:first-child .close:hover {
  cursor: pointer;
  cursor: hand;
  fill: #ff7d1a;
}

main .detaille .containerDetalle div:first-child #btnPrevious {
  width: 17px;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 34.5%;
  z-index: 2;
}

main .detaille .containerDetalle div:first-child #btnPrevious #btnPreviousArrow:hover {
  cursor: pointer;
  cursor: hand;
  stroke: #ff7d1a;
}

main .detaille .containerDetalle div:first-child .produitBig {
  width: 28%;
  margin-bottom: 27px;
  position: relative;
}

main .detaille .containerDetalle div:first-child #btnNext {
  width: 17px;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 34.5%;
  z-index: 2;
}

main .detaille .containerDetalle div:first-child #btnNext #bntNextArrow:hover {
  cursor: pointer;
  cursor: hand;
  stroke: #ff7d1a;
}

main .detaille .containerDetalle div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .detaille .containerDetalle div:last-child .produitLittle {
  width: 4.5%;
  border: 2px solid rgba(0, 0, 0, 0);
}

main .detaille .containerDetalle div:last-child .produitLittle:hover {
  cursor: pointer;
  cursor: hand;
  border: 2px solid #ff7d1a;
  opacity: 50%;
}

main .detaille .containerDetalle img {
  border-radius: 5%;
}
/*# sourceMappingURL=style.css.map */